    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Acerca de Carpintería S&A</h2>
              <br/>
                <p>
                    Sobre la base de 15 años de experiencia nos constituimos como una alternativa diferente, para ofrecer no solo productos, 
                    sino fundamentalmente servir a nuestros clientes.
                    <br>
                    Nuestra máxima es buscar ser “Expertos forjando tu visión” y la misma nos obliga a innovar en todos los campos, 
                    de la producción, extracción y fundamentalmente de la transformación de la madera. Lo hacemos con calidad, 
                    creemos firmemente que el siglo XXI presentara a la madera en su real capacidad, como elemento de cualidades únicas en estructura y belleza, 
                    lo que la convertirá en un pilar fundamental del futuro urbanismo.
                </p>
                <br/>
              </div>
        </div>
    </section>
